{
    "presets": [
    [
    "@babel/preset-env",
    {
    "targets": {
    "node": "12.18.3", 
    "esmodules": true
    }
    }
    ]
    ],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
    